.DS_Store
._.DS_Store
*.class
MindCastr/build/
MindCastr/dist
MindCastr/nbproject/
!nbproject/project.properties
MindCastr/dist/
.svn/
out/
.idea/
*.iml
MindCastr/nbproject/private/private.properties
MindCastr/build/built-jar.properties
releases/
build/built-jar.properties
*.zip
env/
*.pyc
server\*.cmd
