<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hello World/src/yakov/fain/lesson18/FileDownload.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="yakov.fain.lesson18.FileDownload"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://quote.yahoo.com/d/quotes.csv?s=MOT&amp;f=sl1d1t1c1ohgv&amp;e=.csv w4form.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hello World"/>
</launchConfiguration>
