{% extends "base.html" %}
{% block content %}
   <p>All fields must be filled.</p>
   <form action="" method="post" name="Change_Password">
      {{form.hidden_tag()}}
      <table><tr><td>
         <label>Username:</label>
      </td><td>&nbsp;</td><td>
         {{form.username(size=30, maxlength=50, value=username)}}
      </td></tr><tr><td>
         <label>New password:</label>
      </td><td>&nbsp;</td><td>
         {{form.password1(size=30, maxlength=50)}}
      </td></tr><tr><td>
         <label>Continue password:</label>
      </td><td>&nbsp;</td><td>
         {{form.password2(size=30, maxlength=50)}}
      </td></tr><tr><td colspan="3">&nbsp;<br></td></tr><tr><td>
         <label>Current password:</label>
      </td><td>&nbsp;</td><td>
         {{form.curpwd(size=30, maxlength=50)}}
      </td></tr><tr><td colspan="3">
         <input class="submit" type="submit" value="Update">
      </td></tr></table>
   </form>
{% endblock %}
